@font-face {
  font-family: 'Helvetica Neue LT Roman';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue LT Roman'), url('Helvetica Neue LT 55 Roman.woff') format('woff');
}

body {
  width: 1920px;
  font-family:'Helvetica Neue LT Roman';
  text-shadow: 1px 1px black;
}

.row {
  background-color: rgba(0, 0, 0, 0.75);
  height: 80px;
}

.bottom {
  position: absolute;
  top: 1000px;
  width: 1920px;
}

.logo {
  position: relative;
  top: 10px;
  height: 60px;
}

.nowPlaying {
  padding-top: 11px;
  font-size: 24px;
  line-height: 0.7;
  color: #a1a1a1;
}

.gameName {
  font-size: 30px;
  line-height: 0.7;
  color: #e0e0e0;
}

.trophiesLeft {
  padding-top: 10px;
  font-size: 28px;
  line-height: 1;
}

.animate-left {
  position: relative;
  animation:animateleft 0.4s
  }

  @keyframes animateleft{
    from{left:-300px;opacity:0} to{left:0;opacity:1}
  }

.animate-right {
  position: relative;
  animation:animateright 0.4s
}

@keyframes animateright{
    from{right:-300px;opacity:0} to{right:0;opacity:1}
}

.trophyInfo {
  position: relative;
  left: 20px;
}

.trophyLogoLocked {
  position: relative;
  height: 70px;
  float: left;
  padding-top: 10px;
  padding-right: 30px;
  display: inline-block;
  filter: opacity(0.75);
}

.trophyNameLocked {
  position: relative;
  font-size: 26px;
  line-height: 1;
  padding-top: 10px;
  filter: opacity(0.75);
}

.trophyDescriptionLocked {
  position: relative;
  top: -10px;
  font-size: 23px;
  line-height: 1;
  color: #cccccc;
  filter: opacity(0.75);
}

.trophyLogoHidden {
  position: relative;
  height: 70px;
  float: left;
  padding-top: 10px;
  padding-right: 30px;
  display: inline-block;
  filter: opacity(0.75);
}

.trophyNameHidden {
  position: relative;
  font-size: 26px;
  line-height: 1;
  padding-top: 10px;
  filter: opacity(0.75);
}

.trophyDescriptionHidden {
  position: relative;
  top: -10px;
  font-size: 23px;
  line-height: 1;
  color: #cccccc;
  filter: opacity(0.75);
}

.trophyLogoUnlocked {
  position: relative;
  height: 70px;
  float: left;
  padding-top: 10px;
  padding-right: 30px;
  display: inline-block;
}

.trophyNameUnlocked {
  position: relative;
  font-size: 26px;
  line-height: 1;
  padding-top: 10px;
}

.trophyDescriptionUnlocked {
  position: relative;
  top: -10px;
  font-size: 23px;
  line-height: 1;
  color: #cccccc;
}

.white {
  color: white;
}

.platinum {
  color: #a0b2c6;
}

.gold {
  color: #ffd700;
}

.silver {
  color: #c0c0c0;
}

.bronze {
  color: #cd7f32;
}

.hidden {
  visibility: hidden;
}
