@font-face {
  font-family: 'HelveticaNeueLTRoman';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue LT Roman'), url('Helvetica Neue LT 55 Roman.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeueLTProTh' ;
    src: url("HelveticaNeueLTProTh.otf") format("opentype");
}

@font-face {
    font-family: 'HelveticaNeueLTProCn' ;
    src: url("HelveticaNeueLTProCn.otf") format("opentype");
}

body {
  width: 1920px;
  height: 1080px;
  font-family:'Helvetica Neue LT Roman';
}

.carousel-item {
  height: 70px;
}

.bottom {
  position: absolute;
  bottom: 0px;
  width: 1920px;
}

.logo {
  position: relative;
  top: 10px;
  height: 60px;
}

.leftColumn{
  position: absolute;
  left: 0px;
  height: 1080px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.5), rgba(0,0,0,0.75));
  width: 280px;
  z-index: -1;
}

.gameLogo {
  position: relative;
  width: 280px;
}

.gameInfo {
  position: relative;
  padding: 5px 15px;
}

.gameName {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.1;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 5px;
}

.gameVer {
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 0px 15px;
  margin-right: 5px;

}

.percentageBox{
  position: relative;
  height: 40px;
  padding: 5px 15px;
}

.percentageText {
  position: relative;
  font-size: 25px;
  line-height: 0.75;
  float: right;
  color: #e0e0e0;
}

.trophiesLeft {
  padding-top: 10px;
  font-size: 28px;
  line-height: 1;
}

.fade {
  position: relative;
  animation:animateFade 300s
}

@keyframes animateFade {
  0%,100% { opacity: 0 }
  0.5%, 50%, 99.5% { opacity: 1 }
}

.trophyElement  {
  position: relative;
  height: 50px;
  width: 280px;
  padding: 10px 15px;
}

.trophyLogo {
  position: relative;
  height: 30px;
  float: left;
  display: inline-block;
}

.trophyName {
  position: relative;
  font-size: 20px;
  color: #e0e0e0;
  line-height: 1.4;
  left: 10px;
  white-space: nowrap;
  width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trophyInfoBackground {
  position: relative;
  background-image: linear-gradient(to right, rgba(24,24,24,0.75), rgba(24,24,24,0.25), rgba(0,0,0,0));
}

.Bronze {
/*  background-image: linear-gradient(to right, rgba(80,50,20,0.75), rgba(80,50,20,0.25), rgba(0,0,0,0)); */
color: rgba(205, 127, 50, 1);
}

.Silver {
/*  background-image: linear-gradient(to right, rgba(75,75,75,0.75), rgba(75,75,75,0.25), rgba(0,0,0,0)); */
color: rgba(192, 202, 206, 1);
}

.Gold {
/*  background-image: linear-gradient(to right, rgba(100,84,0,0.75), rgba(100,84,0,0.25), rgba(0,0,0,0)); */
color: gold;
}

.Platinum {
  background-image: linear-gradient(to right, rgba(104,103,101,0.75), rgba(104,103,101,0.25), rgba(0,0,0,0));
}

.gameBorder {
  position: absolute;
  left: 295px;
  top: 85px;
  height: 910px;
  width: 1610px;
  background-color: rgba(128,128,128,0.5);
}

ul {
  position: relative;
  padding-top: 10px;
  left: -15px;
}

li {
  font-size: 1.4em;
  color: #e0e0e0;
  list-style: none;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left center;
  padding-left: 40px;
  white-space: nowrap;
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
}
